table {
	border-collapse: collapse;
	height: 100%;
    width: 100%;
	display: block;
}
th,
td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
th {
	background-color: #f2f2f2;
}
input[type="text"].variables,
input[type="number"].variables,
input[type="checkbox"].variables {
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	margin-top: 5px;
}
input[type="checkbox"].variables {
	width: auto;
	margin-top: 0;
}
.var-delete-btn, .var-create-btn, .var-save-btn {
	background-color: #f44336;
	color: white;
	border: none;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 4px;
}
.var-delete-btn:hover {
	background-color: #d32f2f;
}
.var-create-btn {
	background-color: #38b627;
}
.var-create-btn:hover {
	background-color: #28a423;
}
.var-save-btn {
	background-color: #364cf4;
}
.save-btn:hover {
	background-color: #2f4ad3;
}
td:nth-child(even) {
	background-color: #f4f4f4;
}
