table {
	border-collapse: collapse;
	height: 100%;
    width: 100%;
	display: block;
}
th,
td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
th {
	background-color: #f2f2f2;
}